@font-face {
	font-family: OratorStd;
	src: url("../media/fonts/OratorStd.otf") format("opentype");
}

@font-face {
	font-family: FoundationSans-Bold;
	src: url("../media/fonts/FoundationSans-Bold.otf") format("opentype");
}

@font-face {
	font-family: FoundationSans-Cond;
	src: url("../media/fonts/FoundationSans-Cond.otf") format("opentype");
}

body
{
	background: transparent;
	color: rgb( 242, 235, 216 );
	font-family: FoundationSans-Cond;
	overflow: hidden;
}

#featured-stories, #bottom-container
{
    display: -webkit-box;
    display: box;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;	
   	width: 100%;
}

.featured-container, #story-container, #recent-news
{
    -webkit-box-flex: 1;
    box-flex: 1;	
}

#featured-stories
{
	margin-bottom: 15px;
}

h1, h2, h3, h4, h5
{
	font-family: FoundationSans-Bold;
	text-transform: uppercase;
}

#story-container h1, #story-container p
{
	margin: 0px;
	margin-bottom: 5px;
}

article
{
	font-family: FoundationSans-Cond;
	font-size: 14pt;
}

.article-details
{
	font-family: OratorStd;
	padding-bottom: 5px;
	border-bottom: solid 1px rgba( 27, 22, 22, 0.5 );
}

.featured-container
{
    margin-right: 5px;
	padding: 15px;
}

.featured-container:last-child
{
	margin-right: 0px;
}

.featured-container, #story-container, #recent-news
{
	background: rgba( 62, 53, 53, 0.25 );
}

#story-container
{
	padding: 15px;
	width: 80%;
}

#recent-news
{
	padding: 15px;
	margin-left: 15px;
}